<div class="data-form">
    <form class="form-signin" action="<%=`/workspaces/create`%>" method="POST">
      <h2 class="form-signin-heading">Register a new workspace:</h2>
      <label for="inputName">Name</label>
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" autofocus>
      <label for="inputDescription">Description</label>
      <input type="text" name="description" id="inputDescription" class="form-control" placeholder="Description">
      <label for="inputAddress">Address</label>
      <input type="text" name="address" id="inputAddress" class="form-control" placeholder="Address">
      <label for="inputZipCode">Zip Code</label>
      <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" class="form-control" placeholder="Zip Code" required>
      <label for="inputEquipment">Equipment</label>
      <input type="text" name="equipment" id="inputEquipment" pattern="\d*" class="form-control" placeholder="Equipment" required>
      <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
</div>