<div class="container">
    <div class="col-sm-6">
      <img src="images/search.png" alt="">
    </div>
    <div class="col-sm-6">
      <h1>Welcome!</h1>
      <p> Please check out all the good workspaces.</p>
      <p> If you want to find workspaces, click <a href="/workspace">the workspaces page</a> and explore!</p>
      <p> When you want to share workspaces that only you know <a href="/contact">contact us to share! </a></p>
    </div>
  </div>